@import url(//fonts.cdnfonts.com/css/gilroy-bold);

.navbar {
  font-family: "Gilroy-Bold", sans-serif !important;
  padding: 50px 20px;
}

.jumbotron {
  padding: 230px 20px;
  background-color: #121212;
  font-family: "Gilroy-Bold", sans-serif !important;
}
