@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

.navbar {
  font-family: "Poppins", sans-serif !important;
  padding: 50px 20px;
}

.jumbotron {
  padding: 230px 20px;
  background-color: #212121;
  font-family: "Poppins", sans-serif !important;
}
