.navbar {
  font-family: "Gilroy-Bold", sans-serif !important;
  padding: 50px 20px;
}

.jumbotron {
  padding: 230px 20px;
  background-color: #121212;
  font-family: "Gilroy-Bold", sans-serif !important;
}

.p {
  font-family: "Hind Siliguri", sans-serif !important;
}
